@import "/home/chad/.cache/wal/colors.scss";
*{
  all:unset;
  font-family: Fira Code;
  color: $color2;
  font-size:20px;
}

.bar {
	background-color: transparent;
}

.main-container {
  padding:8px 12px;
  background-color: $color0;
  border-radius: 12px;
  margin: 3px 3px 0 3px;
}

.workspaces {
  margin-left: -6px;
  padding-left:0px;
}


.time {
  background: transparent;
}

.systray{
  padding-right:8px;
}
