.cfg
.config/pulse
.config/user-dirs.dirs
.config/user-dirs.locale
.config/inkscape
.config/chromium
.config/bluetuith
.config/gh
.config/cef_user_data 
.config/transmission-daemon/resume
.config/transmission-daemon/torrents
.config/mpv/watch_later
.config/zoom.conf
.config/GIMP
.config/dconf
.config/xfce4
.config/QtProject.conf
.config/karboncalligraphyrc
.config/kritadisplayrc
.config/kritarc
.config/partitionmanagerrc
